.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  font-size: 14px;
  width: 20pc;
}

.search-button {
  padding: 8px 12px;
  size: 30px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.heart {
  position: absolute;
  right: 110px;
  cursor: pointer;
}

.cardicon{
  position: absolute;
  cursor: pointer;
  right: 65px; 
}

.person {
  position: absolute;
  cursor: pointer;
  right: 20px; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: #000000;
  margin-top: 5%;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: large;
}

.navbar-item a:hover {
  color: grey; 
}

.navbar-item a {
  text-decoration: none;
  color: #ffffff;
  font-size: 100%;

}
.custom-modal-width .modal-dialog {
  max-width: 800px;
}

.custom-modal-width .modal-content {
  width: 100%;
}

.custom-modal-body {
  display: flex;
}

.custom-image {
  width: 60%;
  margin-right: 10%; 
}

.details {
  flex: 1;
}

.details p {
  margin-bottom: 10%;
}

.btn-group {
  margin-top: 10%; 
}

.slideshow {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.slideshow img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.custom-slide {
  width:70%; /* Set the desired width */
  height: 10%; /* Set the desired height */
  display: flex; /* Ensures the content aligns properly */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content */
}

.custom-modal-width {
  width: 800px; /* Set your desired width */
}